<h1 align="center">All items made by Takamine </h1>
<p id="notice"><%= notice %></p>

 <div id="itemsContainer">
  
  
     
      <% @items.each do |item| %>
      <div class="itemhols">
       <h1><%= item.title %></h1>
       
       <%= link_to (image_tag item.image_url, :class => "itemholsIm"), item %>
       
       <p>Price <%= number_to_currency(item.price, :unit => "€") %>
       <br>
        Category: <%= item.category %>
        <br>
        Brand: <%= item.brand %></p>
       
       <p>
       <%= link_to 'View',  item, :class => "button", :role => "button" %>
        
       <% if user_signed_in? %>
        <% if current_user.admin? %>
         <%= link_to 'Edit', edit_item_path(item), :class =>"button", :role=>"button" %>
         <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }, :class =>"button", :role=>"button" %>
        <% end %>
       <% end %>
</br>
       <a href="/cart/<%= item.id %>"class="", title="Add <%=@item.title %> to your cart"><i class="fas fa-cart-plus fa-3x"></i> </a>
       &nbsp;&nbsp;
       <a href="/wishlist/<%= item.id %>"class="", title="Add <%=@item.title %> to your wishlist"><i class="fas fa-heart fa-3x"></i></a>
                
       </p>
        
      </div>
    <% end %>
   
      
</div>

<br>




