
<div class="mainCont">
    
   
    
<% @users.each do |user| %>


    <div class="itemholsUser">
    	<table>
    		<tr>
    			<td width="60px">User Id</td>
    		    <td width="60px">email</td>
    		    <td width="60px">Admin:</td>
    		    <td width="60px">Upgrade</td>
    		    <td width="60px">Downgrade</td>
    		</tr>
    		<tr>
    			<td width="60px"><%= user.id %></td>
    		    <td width="60px"><%= user.email %></td>
    		    <td width="60px"> <%= user.admin %></td>
    		    <td width="60px"><a href="/upgrade/<%= user.id %>" class="button">Make Admin</a></td>
    		    <td width="60px"><a href="/downgrade/<%= user.id %>" class="button">Remove Admin</a></td>
    		</tr>
    
   </table>
    </div>
    <hr>
   
<% end %>
    
    
</div>
