
<div class="mainCont">
    
   
    



    <div class="itemholsUser">
        <table>
    		<tr>
    			<td>User Id</td>
    		    <td>email</td>
    		    <td>Admin:</td>
    		    <td>Upgrade</td>
    		    <td>Downgrade</td>
    		</tr>

    		<tr>
                 <% @users.each do |user| %>
    			<td><%= user.id %></td>
    		    <td><%= user.email %></td>
    		    <td> <%= user.admin %></td>
    		    <td><a href="/upgrade/<%= user.id %>" class="button">Make Admin</a></td>
    		    <td><a href="/downgrade/<%= user.id %>" class="button">Remove Admin</a></td>
    		</tr>
    
   </table>
    </div>
    <hr>
   
<% end %>
    
    
</div>
