
<div class="mainCont">
    
   
    
<% @users.each do |user| %>


    <div class="itemholsUser">
    	<table>
    		<tr>
    			<td width="15%">User Id</td>
    		    <td width="15%">email</td>
    		    <td width="15%">Admin:</td>
    		    <td width="25%">Upgrade</td>
    		    <td width="30%">Downgrade</td>
    		</tr>
    		<tr>
    			<td width="15%"><%= user.id %></td>
    		    <td width="15%"><%= user.email %></td>
    		    <td width="15%"> <%= user.admin %></td>
    		    <td width="25%"><a href="/upgrade/<%= user.id %>" class="button">Make Admin</a></td>
    		    <td width="30%"><a href="/downgrade/<%= user.id %>" class="button">Remove Admin</a></td>
    		</tr>
    
   </table>
    </div>
    <hr>
   
<% end %>
    
    
</div>
