<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <head>
    <title><%= yield(:title) %> </title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/c260db8988.js" crossorigin="anonymous"></script>
  </head>

  <body>
    
   
                  
                  
  <!-- Header -->
                  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
                    <div class="w3-display-left w3-auto">
                      <span class="w3-text-white" style="font-size:110px">Picks&Licks</span>
                    </div>
                  </header>
                  
           
    <div class="navbar" id="myHeader"> 
      <ul class="topnav">
          
       <li><%= link_to "HOME", "/" %></li>
        <div class="dropdown">
          <button class="dropbtn"><b><i class="fas fa-tag"></i>&nbsp;PRODUCTS </b><i class="fa fa-caret-down"></i></button>
            <div class="dropdown-content">
              <div>
              </li><%= link_to "All Products", "/items"  %></li>
               
                 </li><%= link_to "FENDER", fender_path  %></li>
                 </li><%= link_to "GIBSON", gibson_path  %></li>
                 </li><%= link_to "TAYLOR", taylor_path  %></li>
                 </li><%= link_to "MARTIN", martin_path  %></li>
                 </li><%= link_to "TAKAMINE", takamine_path  %></li>
                
                
              </div>
            </div> 
        </div>
        
       
         <div class="dropdown">
            <button class="dropbtn"><b><i class="fas fa-shopping-cart fa x2"></i>&nbsp;CART </b><i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
        </li><%= link_to "VIEW CART", "/cart" %></li>
        </div>
      </div>   
     <li><%= link_to "SEARCH", search_path   %></li>
     
        <% if user_signed_in? %>
          <div class="dropdown">
            <button class="dropbtn"><b><i class="fas fa-user fa x2"></i>&nbsp;MY ACCOUNT </b><i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">   
                 </li><%= link_to "Wishlist", "/wishlist" %></li>
                 </li><%= link_to 'Edit Profile', edit_user_registration_path %></li>
                 </li><%= link_to "Orders", orders_path  %></li>
                 </li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
              </div>
          </div>
        <% else %>
           </li><%= link_to 'REGISTER', new_user_registration_path %></li> 
           </li><%= link_to 'SIGN IN', new_user_session_path %></li>
        <% end %>
        
        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <div class="dropdown">
              <button class="dropbtn"><b><i class="fas fa-cog fa x2"></i>&nbsp; ADMIN </b> <i class="fa fa-caret-down"></i></button>
              <div class="dropdown-content">
                </li><%= link_to "Users", users_path  %></li>
                </li><%= link_to 'New Category', new_category_path %></li>
                </li><%= link_to 'New Item', new_item_path %></li>
                </li><%= link_to "Orders", orders_path  %></li>
              </div>
          <% end %> 
        <% end %>
        </div>
      </ul>   
    </div>
        
    
    
<div class="content">
    <div class="container">
    <%= yield %>
    </div>
  </div>

<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>

  <p>© PicksandLicks 2019</p>
  <div class="foot">

<p>
<a href="#"><i class="fab fa-twitter fa-3x"></i></a>
<a href="#"><i class="fab fa-facebook fa-3x"></i></a>
<a href="#"><i class="fab fa-instagram fa-3x"></i></a>
</p></div>
</footer>
<script>
window.onscroll = function() {myFunction()};

var header = document.getElementById("myHeader");
var sticky = header.offsetTop;

function myFunction() {
  if (window.pageYOffset > sticky) {
    header.classList.add("sticky");
  } else {
    header.classList.remove("sticky");
  }
}
</script>
  </body>
</html>
